.row {
  padding-left: 60px;
  margin: 50px 0;
}

.row h2 {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.row__movies {
  display: flex;
  gap: 10px;
  overflow-y: scroll;
}

.row__movie {
  margin-bottom: 20px;
}

.row__movie-poster {
  width: 300px;
  transition: all 0.3s;
}

.row__movie-poster:hover {
  transform: scale(1.08);
}
